html {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    width: 600;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

  h1 {
    margin: 0;
  }

  img {
    margin: 0 auto;
    display: block;
  }

  div.card-body{
    color: black;
    font-size: 1rem;
  }
  
  div.card{
  border: 3px solid #458838; 
}
.card{
  color: black;
}